[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
APLpy = ">=0.9.13"
astropy = ">=1.0.2"
d2to1 = "==0.2.11"
matplotlib = "==1.4.1"
mock = "==1.0.1"
montage-wrapper = ">=0.9.8"
pyfits = "==3.2"
pyraf = ">=2.1.7"
requests = "==2.20.0"
scipy = "==0.14.0"
subprocess32 = "==3.2.6"
uncertainties = "==2.4.6.1"
unittest2 = "==0.5.1"
numpy = ">=1.10.1"
pyside = "*"

[requires]
python_version = "2.7"
